<!doctype html>
<html>
<head>
    <title>Daily Fantasy Sports</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="DFS, Daily fantasy sports, DFS help, daily fantasy sports help, Fanduel, fanduel help, fanduel data, Fanduel NBA help, nba "/>
    <meta name="description" content="We Are Daily fantasy Sports Sharks who will provide you with all the most up to date fantasy sports data you will ever need to build your daily fantasy lineup!">

    <link rel="stylesheet" type="text/css" href="/assets/css/reset.css">

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/fixedcolumns/3.2.2/css/fixedColumns.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.2.2/css/buttons.dataTables.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="/assets/Themecss/style.css" rel="stylesheet" type="text/css">
    <!--custom-css-->
    <!--fonts-->
    <link href="http://fonts.googleapis.com/css?family=Audiowide" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet" type="text/css">
    <!--js-->
    <script src="/assets/ThemeJS/responsiveslides.min.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.4.1/firebase.js"></script>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <div class="header" id="home">
        <!--js-->
        <script src="/assets/ThemeJS/bootstrap.min.js"></script>
        <!--js-->
        <div class="banner">
            <div class="container">
                <nav class="navbar navbar-default bg">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="logo">
                        <a href="/">DFS<span>Play-Offs</span></a>
                    </div>
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed mod" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar wt"></span>
                            <span class="icon-bar wt"></span>
                            <span class="icon-bar wt"></span>
                        </button>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse bod" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right navigate">
                            <li class='navlist'><a href="/">Home</a></li>
                            <li class='navlist'><a href="/NBA">NBA</a></li>
                            <li class='navlist'><a href="/NFL">NFL</a></li>
                            <li class='navlist'><a href="/Contact">Contact us</a></li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                    <div class="clearfix"></div>
                </nav>
                <!--start-smoth-scrolling-->
                <script type="text/javascript" src="/assets/ThemeJS/move-top.js"></script>
                <script type="text/javascript" src="/assets/ThemeJS/easing.js"></script>
                <script type="text/javascript">
                    jQuery(document).ready(function($) {
                        $(".scroll").click(function(event) {
                            event.preventDefault();
                            $('html,body').animate({
                                scrollTop: $(this.hash).offset().top
                            }, 1000);
                        });
                    });
                </script>
                <!--start-smoth-scrolling-->
                <div class="clear"></div>
            </div>
        </div>
    </div>
    {{{ body }}}
    <div class="buttondiv">
        <div class="chatdiv">
            <button style='text-align:center;' type="button" class="btn btn-default chatbutton">Chat with DFS Players</button>
        </div>
    </div>
    <div class="chatdivshow">
        <div id="sizer">
            <a class='closechat' href="#">x</a>
        </div>
        <div id="chatmessages"><br></div>
        <br>
        <div id="chatbar">
            <input placeholder="Start Typing" id="chatinput" />
            <button id='chatsend' type="button" class="btn btn-default btn-sm">Send</button>
        </div>
        <div id="swapzone"><input id="username" placeholder="Name"/>
            <button id='start' type="button" class="btn btn-default">Enter Chat</button>
        </div>
    </div>
    <!--bootstrap-file-->
    <script src='https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js' type="text/javascript"></script>
    <script src='https://cdn.datatables.net/fixedcolumns/3.2.2/js/dataTables.fixedColumns.min.js' type="text/javascript"></script>
    <script src='https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js' type="text/javascript"></script>
    <script src='/assets/javascript/chatapp.js'></script>
    <script src="/assets/javascript/app.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-86407503-2', 'auto');
      ga('send', 'pageview');
    </script>
    <script type="text/javascript">
        $('.chatdivshow').hide();
        $('.chatbutton').on('click', function() {
            $('.chatdiv').hide();
            $('.chatdivshow').show();
        });
        $('.closechat').on('click', function() {
            $(".chatdivshow").hide();
            $('.chatdiv').show();
            return false;
        });
    </script>
</body>
</html>
