<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- below this is the links for the modal -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <!-- above this is the links for the modal -->


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap-theme.min.css">

    <link rel="stylesheet" href="/assets/style.css" />
    <!-- <script src="assets/js/vendor/modernizr.js"></script> -->
  </head>
  <header>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 mainimage">
          <div class="writing">
            <h2>All for 1 and 1 for All</h2>
            <h3>WeAreAll about Fantasy Sports</h3>
          </div>
            <img class='headerimage' src="/assets/images/fantasyMain.jpeg" alt="" />
        </div>
      </div>
    </div>
  </header>
  <br>
  <div class="container-fluid aboutus">
    <div class="row aboutus1">
      <div class="col-md-5">
          <img src="/assets/images/fantasymainimage.jpeg" alt="" />
      </div>
      <div class="col-md-7">
        <h1>All we want to do is make you better at fantasy sports All we want to do is make you better at fantasy sports All we want to do is make you better at fantasy sports All we want to do is make you better at fantasy sports All we want to do is make you better at fantasy sports All we want to do is make you better at fantasy sports </h1>
      </div>
    </div>
    <div class="row aboutus2">
      <div class="col-md-7">
        <h1>WeAreFantasy WeAreFantasy WeAreFantasy WeAreFantasy WeAreFantasy WeAreFantasy WeAreFantasy WeAreFantasy WeAreFantasy </h1>
      </div>
      <div class="col-md-5">
        <img src="/assets/images/fantasymainimage.jpeg" alt="" />
      </div>
    </div>
    <div class="row aboutus3">
      <div class="col-md-5">
          <img src="/assets/images/fantasymainimage.jpeg" alt="" />
      </div>
      <div class="col-md-7">
        <h1>All we want to do is make you better at fantasy sports All we want to do is make you better at fantasy sports All we want to do is make you better at fantasy sports All we want to do is make you better at fantasy sports All we want to do is make you better at fantasy sports All we want to do is make you better at fantasy sports </h1>
      </div>
    </div>
  </div>

  <div class="container-fluid newscontainer">
    <div class="row">
      <div class="col-md-8 sportsnews">
        <h2>Fantasy Player News</h2>
        <h4>How will the lakers do without Kobe Bryant?</h4>
        <h4>Derrick Rose claiming super team?</h4>
        <h4>Better Career... Brandon Ingram or Ben Simmons? Rookie class claims Brandon Ingram</h4>
        <h4>Best Fantasy Player of the 2016-2017 Season?</h4>
        <h4>When will we see westbrook vs durant?</h4>
        <h4>Cavs Defend Title?</h4>
      </div>
      <div class="col-md-4 twitterfeednews">
        <h2>Twitter Feed</h2>
        <h4>Drose tweets... We have a great team why can't we be labled a super team?</h4>
        <h4>Ronnie 2k sends out player ratings!</h4>
        <h4>Top 10 plays of the season</h4>
        <h4>WHO CAN KNOCK OFF THE CAVS!</h4>
      </div>
    </div>
  </div>
</body>
</html>
