<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>WeAreFantasy</title>

      <!-- Latest compiled and minified CSS -->
  <script src="/assets/javascript/app.js"></script>
  <link rel="stylesheet" href="/assets/css/style.css">
  <!-- <link rel="stylesheet" href="assets/css/style.css" /> -->
</head>
  <header>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 mainimage">
          <div class="writing">
            <h2 id='test'>All for 1 and 1 for All</h2>
            <h3 id='test'>WeAreAll about Fantasy Sports</h3>
          </div>
            <img class='headerimage' src="/assets/images/fantasyMain.jpeg" alt="" />
        </div>
      </div>
    </div>
  </header>
  <br>
  <div class="container-fluid aboutus">
    <div class="row aboutus1">
      <div class="col-md-5">
          <img src="/assets/images/fantasymainimage.jpeg" alt="" />
      </div>
      <div class="col-md-7">
        <h1>All we want to do is make you better at fantasy sports All we want to do is make you better at fantasy sports All we want to do is make you better at fantasy sports All we want to do is make you better at fantasy sports All we want to do is make you better at fantasy sports All we want to do is make you better at fantasy sports </h1>
      </div>
    </div>
    <div class="row aboutus2">
      <div class="col-md-7">
        <h1>WeAreFantasy WeAreFantasy WeAreFantasy WeAreFantasy WeAreFantasy WeAreFantasy WeAreFantasy WeAreFantasy WeAreFantasy </h1>
      </div>
      <div class="col-md-5">
        <img src="/assets/images/fantasymainimage.jpeg" alt="" />
      </div>
    </div>
    <div class="row aboutus3">
      <div class="col-md-5">
          <img src="/assets/images/fantasymainimage.jpeg" alt="" />
      </div>
      <div class="col-md-7">
        <h1>All we want to do is make you better at fantasy sports All we want to do is make you better at fantasy sports All we want to do is make you better at fantasy sports All we want to do is make you better at fantasy sports All we want to do is make you better at fantasy sports All we want to do is make you better at fantasy sports </h1>
      </div>
    </div>
  </div>

  <div class="container-fluid newscontainer">
    <div class="row">
      <div class="col-md-8 sportsnews">
        <h2>Fantasy Player News</h2>
        {{#each docs}}
          <p>{{this.jsonplayername}}</p>
        {{/each}}
      </div>
      <div class="col-md-4 twitterfeednews">
        <h2>Twitter Feed</h2>
        <h4>Drose tweets... We have a great team why can't we be labled a super team?</h4>
        <h4>Ronnie 2k sends out player ratings!</h4>
        <h4>Top 10 plays of the season</h4>
        <h4>WHO CAN KNOCK OFF THE CAVS!</h4>
      </div>
    </div>
  </div>
</body>
