<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>WeAreFantasy</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <!-- Latest compiled and minified CSS -->

  <link rel="stylesheet" href="/assets/css/style.css">

  <!-- <link rel="stylesheet" href="assets/css/style.css" /> -->
</head>
  <header>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 mainimage">
          <div class="writing">
            <h1 id='test'>All for 1 and 1 for All</h1>
            <h2 id='test'>WeAreAll about Fantasy Sports</h2>
          </div>
            <img class='headerimage' src="/assets/images/fantasyMain.jpeg" alt="" />
        </div>
      </div>
    </div>
  </header>
  <br>
  <div class="container-fluid aboutus">
    <div class="row aboutus1">
      <div class="col-md-5">
          <img src="/assets/images/fantasymainimage.jpeg" alt="" />
      </div>
      <div class="col-md-7">
        <h3>We are all about Fantasy Sports and our goal is to make you a better fantasy player. We want the fantasy sports world to stop thinking selfishly but to come together as a team and help everybody around them! This is as much of a team sport than an individual fantasy sport. We will work with you to help you maintain your goal of becoming the best fantasy sports player that you can be. We will provide you with the best and most accurate data on the internet. We want you to win money and help grow our fantasy team!</h3>
      </div>
    </div>
    <div class="row aboutus2">
      <div class="col-md-7">
        <h3>when we will operate when we will operate when we will operate when we will operate when we will operate when we will operate when we will operate when we will operate when we will operate when we will operate when we will operate when we will operate when we will operate when we will operate when we will operate when we will operate when we will operate when we will operate when we will operate when we will operate when we will operate when we will operate when we will operate when we will operate when we will operate when we will operate when we will operate when we will operate </h3>
      </div>
      <div class="col-md-5">
        <img src="/assets/images/fantasymainimage.jpeg" alt="" />
      </div>
    </div>
    <div class="row aboutus3">
      <div class="col-md-5">
          <img src="/assets/images/fantasymainimage.jpeg" alt="" />
      </div>
      <div class="col-md-7">
        <h3>Here is our proof Here is our proof Here is our proof Here is our proof Here is our proof Here is our proof Here is our proof Here is our proof Here is our proof Here is our proof Here is our proof Here is our proof Here is our proof Here is our proof Here is our proof Here is our proof Here is our proof Here is our proof Here is our proof Here is our proof Here is our proof Here is our proof Here is our proof Here is our proof Here is our proof Here is our proof  </h3>
      </div>
    </div>
  </div>

  <div class="container-fluid newscontainer">
    <div class="row">
      <div class="col-md-8 sportsnews">
        <h2>Fantasy Player News</h2>
        {{#each docnews}}
          <h3 id='playernameandteam'>{{this.playernameandteam}}</h3>
          <hr>
        {{/each}}
      </div>
      <div class="col-md-4 twitterfeednews">
        <h2>Fantasy Twitter Feed</h2>
        {{#each doctweets}}
          {{#each this.fantasytweets}}
            <h3>{{this}}</h3>
          {{/each}}
        {{/each}}
      </div>
    </div>
  </div>
  <script src="/assets/javascript/app.js"></script>
</body>
