<div class="header" id="home">
    <!--js-->
    <script src="/assets/ThemeJS/bootstrap.min.js"></script>
    <div class="banner-slider">
        <script>
            $(function() {
                $("#slider").responsiveSlides({
                    auto: true,
                    nav: true,
                    speed: 500,
                    namespace: "callbacks",
                    pager: true,
                });
            });
        </script>
        </script>
        <div class="slider">
            <div class="callbacks_container">
                <ul class="rslides" id="slider">
                    <li>
                        <img src="/assets/images/1.jpg" alt="" class="img-responsive" />
                        <div class="caption chn">
                            <h3>We are Daily Fantasy Sports Play-offs</h3>
                            <p>We Believe in Simple and Effective sports statistics that will benefit fanduel players in the long run!</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="about-deer" id="about">
    <div class="container">
        <div class="about-para">
            <h1>About Daily Fantasy Sports Play-Offs</h1>
            <p>Place your text here. orem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. isi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit
                lobortis nisl ut aliquip ex eat.</p>
        </div>
        <div class="about-grid">
            <div class="col-md-4 grid lft">
                <h4>Become a DFS Shark</h4>
                <p>Our goal is to give you the same data and statistics that each fanduel shark uses on a daily basis. We will help you build exceptional DFS lineups each and every day!</p>
            </div>
            <div class="col-md-4 grid cen">
                <h4>DFS Solution</h4>
                <p>We will provide you with all the most up to date fantasy sports data you will ever need to build your daily fantasy lineup!</p>
            </div>
            <div class="col-md-4 grid rgt">
                <h4>Club History</h4>
                <p>Our team and I have been consistently winning in fanduel for a few years and we decided to build our own website to spread the wealth and knowledge to all Fanduel users!</p>
            </div>
            <div class="clear-fix"></div>
        </div>
    </div>
</div>
<div class="wmuSlider example1">
    <div class="wmuSliderWrapper">
        <div class="container">
            <article style="position: relative; width: 100%; opacity: 1;">
                <div class="banner-wrap">
                    <div class="col-md-4 flot">
                        <ul class="grid-1">
                            <li class="grid-1_right">
                                <span class="glyphicon glyphicon-knight cog"></span>
                                <h4>Achivements</h4>
                                <p>Small text here just</p>
                            </li>
                            <div class="clearfix"> </div>
                        </ul>
                    </div>
                    <div class="col-md-4 flot">
                        <ul class="grid-1">
                            <li class="grid-1_right">
                                <span class="glyphicon glyphicon-heart-empty cog"></span>
                                <h4>User Freindly</h4>
                                <p>Small text here just</p>
                            </li>
                            <div class="clearfix"> </div>
                        </ul>
                    </div>
                    <div class="col-md-4 flot">
                        <ul class="grid-1">
                            <li class="grid-1_right">
                                <span class="glyphicon glyphicon-comment cog"></span>
                                <h4>Support</h4>
                                <p>Small text here just</p>
                            </li>
                            <div class="clearfix"> </div>
                            <div class="clear"></div>
                        </ul>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </article>
        </div>
    </div>

</div>
<div class="box-gallery" id="projects">
    <!--light-box-files -->
    <script src="/assets/ThemeJS/jquery.chocolat.js"></script>
    <link rel="stylesheet" href="/assets/Themecss/chocolat.css" type="text/css" media="screen" charset="utf-8" />
    <!--light-box-files -->
    <script type="text/javascript" charset="utf-8">
        $(function() {
            $('#example1 a').Chocolat();
        });
    </script>
    <!--light-box-files -->
    <!-- requried-jsfiles-for owl -->
    <link href="/assets/Themecss/owl.carousel.css" rel="stylesheet">
    <script src="/assets/ThemeJS/owl.carousel.js"></script>
    <script>
        $(document).ready(function() {
            $("#owl-demo").owlCarousel({
                items: 3,
                lazyLoad: true,
                autoPlay: true,
                pagination: false,
            });
        });
    </script>
    <!--requried-jsfiles-for owl -->
    <!-- start content_slider -->
    <div class="container">
        <div id="example1">
            <div id="owl-demo" class="owl-carousel text-center">
                <div class="item mar">
                    <a href="./assets/images/NBAlineup1.png" title="blue-clans" rel="title1" class="img-responsive">
                        <img class="lazyOwl img-responsive" data-src="./assets/images/NBAlineup1.png" alt="name" />
                    </a>
                </div>

                <div class="item mar">
                    <a href="./assets/images/NFLlineup1.png" title="Furie" rel="title1" class="img-responsive">
                        <img class="lazyOwl img-responsive" data-src="./assets/images/NFLlineup1.png" alt="name" />
                    </a>
                </div>


                <div class="item mar">
                    <a href="./assets/images/NBAlineup3.png" title="Tusken-City-Riders" rel="title1" class="img-responsive">
                        <img class="lazyOwl img-responsive" data-src="/assets/images/NBAlineup3.png" alt="name" />
                    </a>

                </div>

                <div class="item mar">
                    <a href="./assets/images/NBAlineup4.png" title="Eagle" rel="title1" class="img-responsive">
                        <img class="lazyOwl img-responsive" data-src="./assets/images/NBAlineup4.png" alt="name" />
                    </a>
                </div>
                <div class="item mar">
                    <a href="./assets/images/NBAlineup8.png" title="Sham-rock" rel="title1" class="img-responsive">
                        <img class="lazyOwl img-responsive" data-src="./assets/images/NBAlineup8.png" alt="name" />
                    </a>
                </div>
                <div class="item mar">
                    <a href="./assets/images/NBAlineup6.png" title="Turf-Cats" rel="title1" class="img-responsive">
                        <img class="lazyOwl img-responsive" data-src="./assets/images/NBAlineup6.png" alt="name" />
                    </a>
                </div>

            </div>
        </div>
        <script>
            $(document).ready(function() {
                $("#owl-demo1").owlCarousel({
                    items: 3,
                    lazyLoad: true,
                    autoPlay: true,
                    pagination: false,
                });
            });
        </script>
        <div id="example1">
            <div id="owl-demo1" class="owl-carousel text-center">

                <div class="item mar">
                    <a href="./assets/images/NBAlineup7.png" title="Eagle" rel="title1" class="img-responsive">
                        <img class="lazyOwl img-responsive" data-src="./assets/images/NBAlineup7.png" alt="name" />
                    </a>
                </div>
                <div class="item mar">
                    <a href="./assets/images/NBAlineup9.png" title="blue-clans" rel="title1" class="img-responsive">
                        <img class="lazyOwl img-responsive" data-src="./assets/images/NBAlineup9.png" alt="name" />
                    </a>
                </div>
                <div class="item mar">
                    <a href="./assets/images/NBAlineup2.png" title="Furie" rel="title1" class="img-responsive">
                        <img class="lazyOwl img-responsive" data-src="./assets/images/NBAlineup2.png" alt="name" />
                    </a>
                </div>
                <div class="item mar">
                    <a href="./assets/images/NBAlineup9.png" title="Turf-Cats" rel="title1" class="img-responsive">
                        <img class="lazyOwl img-responsive" data-src="/assets/images/NBAlineup9.png" alt="name" />
                    </a>
                </div>
                <div class="item mar">
                    <a href="./assets/images/NBAlineup1.png" title="Tusken-City-Riders" rel="title1" class="img-responsive">
                        <img class="lazyOwl img-responsive" data-src="./assets/images/NBAlineup1.png" alt="name" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="foot-ban">
    <h3><q>There is Beauty in Simplicity</q></h3>
</div>
<!--footer-->
<div class="footer" id="foot">
    <div class="container">
        <div class="col-md-3 logo flt">
            <a href="#">DFS<span>Play-Offs</span></a>
        </div>
        <div class="col-md-6 cpyrt fltt">
            <p>Copyright &copy; 2015 - Play-offs - Designed by
                <a href="http://www.w3layouts.com" target="_blank">w3layouts</a></p>
        </div>
        <div class="col-md-3 flt">
            <div class="social">
                <ul>
                    <li>
                        <a href="#" class="face"></a>
                    </li>
                    <li>
                        <a href="#" class="twit"></a>
                    </li>
                    <li>
                        <a href="#" class="in"></a>
                    </li>
                    <li>
                        <a href="#" class="gpls"></a>
                    </li>
                    <li>
                        <a href="#" class="del"></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<!--footer-->
