<style media="screen">
  #positionStyle {
    font-size: 2em;
    text-decoration: underline;
    text-align: center;
  }

  #playerNameStyle {
    text-decoration: underline;
    margin-bottom:1%;
    text-align: center;
  }
</style>
<div class="container">
  <div class="row">
    <div class="col-md-10">
      <img style='width:100%; height: 425px; margin-top:5%;' src="http://www.drodd.com/images14/lakers18.jpg" alt="">
      <h3 style='text-align:center; font-size:1.3em; margin-top:2.5%;'>Sunday, December 25th</h3>
      <h1 style='text-decoration: underline; text-align:center; font-size:2.5em; margin-top:2.5%;'>Fanduel on Christmas Day Extravaganza</h1>
      <p style='text-align:center; font-size:1.5em; margin-top:2.5%;'>Hello everybody! Welcome to DFS Analysts! This will be our first of many blogs that we publish! Our goal as DFS Analysts is to give you as much data for free as possible. We display information that many big name Daily Fantasy Sports companies charge a lot for! DFSAnalysts is a brand new website and we plan on adding a bunch of great features. The way we will structure our blogs is that we will provide you with 2 players for each position, 1 high salary and 1 low salary. We have a big slate ahead of us so lets get started!</p>
      <br><br><br>
    <h2 id='positionStyle'>Point Guards</h2>
    <br>
      <h3 id='playerNameStyle'>Russell Westbrook</h3>
        <p>The first player I am going to choose is Russell Westbrook. I would like to start off by saying this is going to be the fastest pace game of the day with one of best players in the league going end to end. On top of this fast pace game, the wolves are one of the worst teams at guarding the PG position.</p>
        <br>
      <h3 id='playerNameStyle'>Austin Rivers</h3>
        <p>My cheap Point Guard position of the day goes to Austin Rivers. This pick is a crap shoot because nobody is sure if Chris Paul is going to be out or not. If Chris Paul is out that will leave a ton of minutes to Austin Rivers. This game has a total gameline of 225 points and the lakers are at the bottom of the league at defensive efficiency.</p>
    <hr>
    <h2 id='positionStyle'>Shooting Guards</h2>
    <br>
      <h3 id='playerNameStyle'>Klay Thompson</h3>
        <p>The first player I am going to choose is Russell Westbrook. I would like to start off by saying this is going to be the fastest pace game of the day with one of best players in the league going end to end. On top of this fast pace game, the wolves are one of the worst teams at guarding the PG position.</p>
        <br>
      <h3 id='playerNameStyle'>Lou Williams</h3>
        <p>My cheap Point Guard position of the day goes to Austin Rivers. This pick is a crap shoot because nobody is sure if Chris Paul is going to be out or not. If Chris Paul is out that will leave a ton of minutes to Austin Rivers. This game has a total gameline of 225 points and the lakers are at the bottom of the league at defensive efficiency.</p>
    <hr>
    <h2 id='positionStyle'>Small Forwards</h2>
    <br>
      <h3 id='playerNameStyle'>Kevin Durant</h3>
        <p>The first player I am going to choose is Russell Westbrook. I would like to start off by saying this is going to be the fastest pace game of the day with one of best players in the league going end to end. On top of this fast pace game, the wolves are one of the worst teams at guarding the PG position.</p>
        <br>
      <h3 id='playerNameStyle'>LeBron James</h3>
        <p>My cheap Point Guard position of the day goes to Austin Rivers. This pick is a crap shoot because nobody is sure if Chris Paul is going to be out or not. If Chris Paul is out that will leave a ton of minutes to Austin Rivers. This game has a total gameline of 225 points and the lakers are at the bottom of the league at defensive efficiency.</p>
    <hr>
    <h2 id='positionStyle'>Power Forwards</h2>
    <br>
      <h3 id='playerNameStyle'>Kristaps Porzingis</h3>
        <p>The first player I am going to choose is Russell Westbrook. I would like to start off by saying this is going to be the fastest pace game of the day with one of best players in the league going end to end. On top of this fast pace game, the wolves are one of the worst teams at guarding the PG position.</p>
        <br>
      <h3 id='playerNameStyle'>Lamarcus Aldridge</h3>
        <p>My cheap Point Guard position of the day goes to Austin Rivers. This pick is a crap shoot because nobody is sure if Chris Paul is going to be out or not. If Chris Paul is out that will leave a ton of minutes to Austin Rivers. This game has a total gameline of 225 points and the lakers are at the bottom of the league at defensive efficiency.</p>
    <hr>
    <h2 id='positionStyle'>Centers</h2>
    <br>
      <h3 id='playerNameStyle'>Karl-Anthony Towns</h3>
        <p>The first player I am going to choose is Russell Westbrook. I would like to start off by saying this is going to be the fastest pace game of the day with one of best players in the league going end to end. On top of this fast pace game, the wolves are one of the worst teams at guarding the PG position.</p>
        <br>
      <h3 id='playerNameStyle'>Joakim Noah</h3>
        <p>My cheap Point Guard position of the day goes to Austin Rivers. This pick is a crap shoot because nobody is sure if Chris Paul is going to be out or not. If Chris Paul is out that will leave a ton of minutes to Austin Rivers. This game has a total gameline of 225 points and the lakers are at the bottom of the league at defensive efficiency.</p>
    </div>
    <div class="col-md-2">
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE </p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
      <p>ADS WILL GO HERE</p>
    </div>
  </div>
</div>
