<nav class="navbar navbar-default sidebar" role="navigation">
    <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Welcome <br> Thomas Rice<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-home"></span></a></li>
        <li class="dropdown">
         <a href="#" class="dropdown-toggle" data-toggle="dropdown">NFL <span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-user"></span></a>
         <ul class="dropdown-menu forAnimate" role="menu">
           <li class="divider"></li>
           <li><a href="/NFLalls">All Positions</a></li>
           <li class="divider"></li>
           <li><a href="/NFLQBs">Quarter Backs</a></li>
           <li class="divider"></li>
           <li><a href="/NFLRBs">Running Backs</a></li>
           <li class="divider"></li>
           <li><a href="/NFLWRs">Wide Receiver</a></li>
           <li class="divider"></li>
           <li><a href="/NFLTEs">Tight End</a></li>
           <li class="divider"></li>
           <li><a href="/NFLDefs">Defense</a></li>
           <li class="divider"></li>
           <li><a href="/NFLKickers">Kickers</a></li>
           <br>
           <div class="input-group">
             <input type="text" class="form-control" placeholder="Search for player..">
             <span class="input-group-btn">
               <button class="btn btn-default" type="button">
                 <span class="glyphicon glyphicon-search"></span>
               </button>
             </span>
           </div>
         </ul>
       </li>
       <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">NBA <span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-user"></span></a>
        <ul class="dropdown-menu forAnimate" role="menu">
          <li class="divider"></li>
          <li><a href="/">All Positions</a></li>
          <li class="divider"></li>
          <li><a href="/">Point Guards</a></li>
          <li class="divider"></li>
          <li><a href="/">Shooting Guards</a></li>
          <li class="divider"></li>
          <li><a href="/">Small Fowards</a></li>
          <li class="divider"></li>
          <li><a href="/">Power Forwards</a></li>
          <li class="divider"></li>
          <li><a href="/">Centers</a></li>
          <li class="divider"></li>
          <li><a href="/">Guards</a></li>
          <li class="divider"></li>
          <li><a href="/">Forwards</a></li>
          <br>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for player..">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">
                <span class="glyphicon glyphicon-search"></span>
              </button>
            </span>
          </div>
        </ul>
      </li>
        <li role="presentation"><a href="#" data-toggle="modal" data-target="#addWorkoutModal">Add table <br>(for admin only)<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-home"></span></a></li>
      </ul>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search Fantasy Data..">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </span>
      </div>
    </div>
  </div>
</nav>

<!-- <li><a href="/NFL">NFL<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-home"></span></a></li> -->
