
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>WeAreFantasy</title>
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> -->

      <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="/assets/css/style.css">

  <style media="screen">

  /*th {
    margin: 0;
    padding: 0;
  }*/
  td {
    border: 1px solid black;
    background-color:white;
  }

  </style>

</head>
<body>

  <div class="container-fluid NFLTeamTable">
    <div class="row">
      <div style='font-size:24px;' class="col-md-8">
        <p>Jets are solid pick Jets are solid pick Jets are solid pick</p>
        <p>Palmer will kill it Palmer will kill it Palmer will kill it </p>
        <p>Brady Repeat? Brady Repeat? Brady Repeat?</p>
        <p>Westbrook Trip dub alert? Westbrook Trip dub alert?</p>
        <p>KD a bitch? yes. KD a bitch? yes. KD a bitch? yes.</p>
        <p>Lebron a bitch? also yes. Lebron a bitch? also yes.</p>
      </div>
      <div style='font-size:24px;' class="col-md-4">
        <p>Jets are solid pick</p>
        <p>Palmer will kill it </p>
        <p>Brady Repeat?</p>
        <p>Westbrook Trip dub alert?</p>
        <p>KD a bitch? yes.</p>
        <p>Lebron a bitch? also yes.</p>
      </div>
    </div>
  </div>

  <div id='playerlist' class="container-fluid NFLtables">
    <div class="row list">
      <div class="col-md-2">
        <li><a id='qbLink' href="#">Quarter Back</a></li>
      </div>
      <div class="col-md-2">
        <li><a id='rbLink' href="#">Running Back</a></li>
      </div>
      <div class="col-md-2">
        <li><a id='wrLink' href="#">Wide Receiver</a></li>
      </div>
      <div class="col-md-2">
        <li><a id='teLink' href="#">Tight End</a></li>
      </div>
      <div class="col-md-2">
        <li><a id='kLink' href="#">Kicker</a></li>
      </div>
      <div class="col-md-2">
        <li><a id='defLink' href='#'>Defense</a></li>
      </div>
    </div>
    <div class="row qbfantasy">
      <div class="col-md-12">
        <div class="panel-body beforeResponsive">
          <div class="table-responsive">
            <table class="table table-hover fantasyQB">
              <thead>
                <tr style='font-size: 16px;'>
                  <th>Week</th>
                  <th>Player</th>
                  <th>Salary</th>
                  <th>Position</th>
                  <th>TeamName</th>
                  <th>InjuryStatus</th>
                  <th>TypeInjury</th>
                  <th>RvP</th>
                  <th>PlayerRating</th>
                  <th>OppDefRanking</th>
                  <th>FPPG</th>
                  <th>PassingAttempts</th>
                  <th>RushingAttempts</th>
                  <th>TotalOpportunities</th>
                  <th>PPA</th>
                  <th>ExpectedWins</th>
                  <th>O/U</th>
                  <th>SalChange</th>
                  <th>OffensiveLinemanRank</th>
                  <th>FPPGLast</th>
                </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </div>



    <div class="row rbfantasy">
      <div class="col-md-12">
        <div class="panel-body beforeResponsive">
          <div class="table-responsive">
            <table class="table table table-hover fantasyRB">
              <thead>
                <tr style='font-size: 16px;'>
                  <th>Week</th>
                  <th>Player</th>
                  <th>Salary</th>
                  <th>Position</th>
                  <th>Team Name</th>
                  <th>Injury Status</th>
                  <th>Type of Injury</th>
                  <th>Spread</th>
                  <th>Rank vs Position</th>
                  <th>Player Rating</th>
                  <th>Points Per Game</th>
                  <th>Rush Attempts per game</th>
                  <th>Receiving Target</th>
                  <th>Total Opposition</th>
                  <th>Points Per Attempt</th>
                  <th>Expected Wins</th>
                  <th>Path Expectation</th>
                  <th>Over/Under</th>
                  <th>Salary Change</th>
                  <th>Snap Count</th>
                  <th>OFL Rating</th>
                  <th>Fantasy Player Score</th>
                </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </div>



    <div class="row wrfantasy">
      <div class="col-md-12">
        <div class="panel-body beforeResponsive">
          <div class="table-responsive">
            <table class="table table table-hover fantasyWR">
              <thead>
                <tr style='font-size: 16px;'>
                  <th>Week</th>
                  <th>Player</th>
                  <th>Salary</th>
                  <th>Position</th>
                  <th>Team Name</th>
                  <th>Injury Status</th>
                  <th>Type of Injury</th>
                  <th>Spread</th>
                  <th>Rank vs Position</th>
                  <th>Player Rating</th>
                  <th>Points Per Game</th>
                  <th>Rush Attempt per game</th>
                  <th>Receiving Targets</th>
                  <th>Catches Per Game</th>
                  <th>Total Opportunities</th>
                  <th>Points Per Attempt</th>
                  <th>Expected Wins</th>
                  <th>Over/Under</th>
                  <th>Salary Change</th>
                  <th>Snap Count</th>
                  <th>Fantasy Player Score</th>
                </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </div>



    <div class="row tefantasy">
      <div class="col-md-12">
        <div class="panel-body beforeResponsive">
          <div class="table-responsive">
            <table class="table table table-hover fantasyTE">
              <thead>

                <tr style='font-size: 16px;'>
                  <th>Week</th>
                  <th>Player</th>
                  <th>Salary</th>
                  <th>Position</th>
                  <th>Team Name</th>
                  <th>Injury Status</th>
                  <th>Type of Injury</th>
                  <th>Spread</th>
                  <th>QB Score</th>
                  <th>Rank vs Position</th>
                  <th>Player Rating</th>
                  <th>Points Per Game</th>
                  <th>Rush Attempt per game</th>
                  <th>Receiving Target</th>
                  <th>Receptions</th>
                  <th>Total Opportunities</th>
                  <th>Points Per Attempt</th>
                  <th>Expected Wins</th>
                  <th>Over/Under</th>
                  <th>Salary Change</th>
                  <th>Snap Count</th>
                  <th>Fantasy Player Score</th>
                </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </div>



    <div class="row kfantasy">
      <div class="col-md-12">
        <div class="panel-body beforeResponsive">
          <div class="table-responsive">
            <table class="table table table-hover fantasyK">
              <thead>
                <tr style='font-size: 16px;'>
                  <th>Week</th>
                  <th>Player</th>
                  <th>Salary</th>
                  <th>Position</th>
                  <th>Team Name</th>
                  <th>Injury Status</th>
                  <th>Type of Injury</th>
                  <th>Rank vs Position</th>
                  <th>Player Rating</th>
                  <th>Points Per Game</th>
                  <th>Total Opportunities</th>
                  <th>Point Per Kick</th>
                  <th>Expected Wins</th>
                  <th>Path Expectation</th>
                  <th>Over/Under</th>
                  <th>Salary Change</th>
                  <th>Fantasy Player Score</th>
                </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </div>


    <div class="row deffantasy">
      <div class="col-md-12">
        <div class="panel-body beforeResponsive">
          <div class="table-responsive">
            <table class="table table table-hover fantasyDEF">
              <thead>
                <tr style='font-size: 16px;'>
                  <th>Week</th>
                  <th>Player</th>
                  <th>Salary</th>
                  <th>Position</th>
                  <th>Team Name</th>
                  <th>Opposing</th>
                  <th>Opp QB Injury Status</th>
                  <th>Type of Injury</th>
                  <th>Opposing QB Score</th>
                  <th>Rank vs Position</th>
                  <th>Player Rating</th>
                  <th>Yards Allowed</th>
                  <th>Expected Wins</th>
                  <th>Over/Under</th>
                  <th>Salary Change</th>
                  <th>Fantasy Player Score</th>
                </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript">

  </script>
  <!-- <th>Week</th>
  <th>Player</th>
  <th>Salary</th>
  <th>Position</th>
  <th>Team Name</th>
  <th>Injury Status</th>
  <th>Type Injury</th>
  <th>Ranking vs position</th>
  <th>Player Rating</th>
  <th>Opp Defense Ranking</th>
  <th>Fantasy Points per Game</th>
  <th>Passing Attempts per game</th>
  <th>Rushing Attempts per game</th>
  <th>Total Opportunities</th>
  <th>Points per Attempt</th>
  <th>Expected Wins</th>
  <th>Over Under</th>
  <th>Sal Change</th>
  <th>Offensive Lineman Rank</th>
  <th>Fantasy Points scored previous game</th> -->
