
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>WeAreFantasy</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<script src='https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js'></script>
      <!-- Latest compiled and minified CSS -->

  <link rel="stylesheet" href="/assets/css/style.css">

  <!-- <link rel="stylesheet" href="assets/css/style.css" /> -->
</head>
<body>
  <div class="container-fluid">
    <div class="row list">
      <div class="col-md-2">
        <li><a id='qbLink' href="#">Quarter Back</a></li>
      </div>
      <div class="col-md-2">
        <li><a id='rbLink' href="#">Running Back</a></li>
      </div>
      <div class="col-md-2">
        <li><a id='wrLink' href="#">Wide Receiver</a></li>
      </div>
      <div class="col-md-2">
        <li><a id='teLink' href="#">Tight End</a></li>
      </div>
      <div class="col-md-2">
        <li><a id='kLink' href="#">Kicker</a></li>
      </div>
      <div class="col-md-2">
        <li><a id='defLink' href='#'>Defense</a></li>
      </div>
    </div>
  </div>

  <div id='quarterback' class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table table-hover fantasyQB">
              <thead>
                <tr style='font-size: 16px;'>
                  <th>Week</th>
                  <th>Player</th>
                  <th>Salary</th>
                  <th>Position</th>
                  <th>Team Name</th>
                  <th>Injury Status</th>
                  <th>Type of injury</th>
                  <th>Ranking vs position</th>
                  <th>Player Rating</th>
                  <th>Opp Defense Ranking</th>
                  <th>Fantasy Points per Game</th>
                  <th>Passing Attempts per game</th>
                  <th>Rushing Attempts per game</th>
                  <th>Total Opportunities</th>
                  <th>Points per Attempt</th>
                  <th>Expected Wins</th>
                  <th>Over Under</th>
                  <th>Sal Change</th>
                  <th>Offensive Lineman Rank</th>
                  <th>Fantasy Points scored previous game</th>
                </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id='runningback' class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table table-hover fantasyRB">
              <thead>
                <tr style='font-size: 16px;'>
                  <th>Week</th>
                  <th>Player</th>
                  <th>Salary</th>
                  <th>Position</th>
                  <th>Team Name</th>
                  <th>Injury Status</th>
                  <th>Type of Injury</th>
                  <th>Spread</th>
                  <th>Rank vs Position</th>
                  <th>Player Rating</th>
                  <th>Points Per Game</th>
                  <th>Rush Attempts per game</th>
                  <th>Receiving Target</th>
                  <th>Total Opposition</th>
                  <th>Points Per Attempt</th>
                  <th>Expected Wins</th>
                  <th>Path Expectation</th>
                  <th>Over/Under</th>
                  <th>Salary Change</th>
                  <th>Snap Count</th>
                  <th>OFL Rating</th>
                  <th>Fantasy Player Score</th>
                </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id='widereceiver' class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table table-hover fantasyWR">
              <thead>
                <tr style='font-size: 16px;'>
                  <th>Week</th>
                  <th>Player</th>
                  <th>Salary</th>
                  <th>Position</th>
                  <th>Team Name</th>
                  <th>Injury Status</th>
                  <th>Type of Injury</th>
                  <th>Spread</th>
                  <th>Rank vs Position</th>
                  <th>Player Rating</th>
                  <th>Points Per Game</th>
                  <th>Rush Attempt per game</th>
                  <th>Receiving Targets</th>
                  <th>Catches Per Game</th>
                  <th>Total Opposition</th>
                  <th>Points Per Attempt</th>
                  <th>Expected Wins</th>
                  <th>Over/Under</th>
                  <th>Salary Change</th>
                  <th>Snap Count</th>
                  <th>Fantasy Player Score</th>
                </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id='tightend' class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table table-hover fantasyTE">
              <thead>
                <tr style='font-size: 16px;'>
                  <th>Week</th>
                  <th>Player</th>
                  <th>Salary</th>
                  <th>Position</th>
                  <th>Team Name</th>
                  <th>Injury Status</th>
                  <th>Type of Injury</th>
                  <th>Spread</th>
                  <th>QB Score</th>
                  <th>Rank vs Position</th>
                  <th>Player Rating</th>
                  <th>Points Per Game</th>
                  <th>Rush Attempt per game</th>
                  <th>Receiving Target</th>
                  <th>Total Opposition</th>
                  <th>Points Per Attempt</th>
                  <th>Expected Wins</th>
                  <th>Over/Under</th>
                  <th>Salary Change</th>
                  <th>Snap Count</th>
                  <th>OFL Rating</th>
                  <th>Fantasy Player Score</th>
                </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id='kicker' class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table table-hover fantasyK">
              <thead>
                <tr style='font-size: 16px;'>
                  <th>Week</th>
                  <th>Player</th>
                  <th>Salary</th>
                  <th>Position</th>
                  <th>Team Name</th>
                  <th>Injury Status</th>
                  <th>Type of Injury</th>
                  <th>Rank vs Position</th>
                  <th>Player Rating</th>
                  <th>Points Per Game</th>
                  <th>Total Opposition</th>
                  <th>Point Per Kick</th>
                  <th>Expected Wins</th>
                  <th>Path Expectation</th>
                  <th>Over/Under</th>
                  <th>Salary Change</th>
                  <th>Fantasy Player Score</th>
                </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id='defense' class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table table-hover fantasyDEF">
              <thead>
                <tr style='font-size: 16px;'>
                  <th>Week</th>
                  <th>Player</th>
                  <th>Salary</th>
                  <th>Position</th>
                  <th>Team Name</th>
                  <th>Opposing</th>
                  <th>Day</th>
                  <th>Opp QB Injury Status</th>
                  <th>Type of Injury</th>
                  <th>Opposing QB Score of Injury</th>
                  <th>Rank vs Position</th>
                  <th>Player Rating</th>
                  <th>Yards Allowed</th>
                  <th>Expected Wins</th>
                  <th>Over/Under</th>
                  <th>Salary Change</th>
                  <th>Fantasy Player Score</th>
                </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>


<script type="text/javascript">
// ID of the Google Spreadsheet
//below is for quarterbacks

</script>
