
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>WeAreFantasy</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<script src='https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js'></script>
      <!-- Latest compiled and minified CSS -->

  <link rel="stylesheet" href="/assets/css/style.css">

  <!-- <link rel="stylesheet" href="assets/css/style.css" /> -->
</head>
<body>
  <div class="container">
  <table class="table table-hover fantasy">
    <thead>
      <tr>
        <th>Week</th>
        <th>Player</th>
        <th>Sal</th>
        <th>Postion</th>
        <th>Team</th>
      </tr>
    </thead>
  </table>
</div>

<script type="text/javascript">
// ID of the Google Spreadsheet
//below is for quarterbacks
var spreadsheetIDQB = "1VTZtc8vRucqAHVO-7ACCMe1sm3vl5NC9DLtDuh622Jw";
// Make sure it is public or set to Anyone with link can view
var url = "https://spreadsheets.google.com/feeds/list/" + spreadsheetIDQB + "/od6/public/values?alt=json";

  // if empty show all the appointments
  $.get( url, function( data ) {
    console.log(data.feed.entry);


    //display all appointments with DATA
    $('.fantasy').DataTable( {

      data: data.feed.entry,
    "ordering": true,
    "info":     false,
      columns: [
    { data: 'gsx$week.$t' },
    { data: 'gsx$player.$t' },
    { data: 'gsx$sal.$t' },
    { data: 'gsx$pos.$t' },
    { data: 'gsx$team.$t' }
        ]
      });
    });



//above is for qb
// ==========
// below is for rb
// RUNNING BACK = https://docs.google.com/spreadsheets/d/15mSJN1WKrxFVJtIYT20sJS9mGr7f65Ow1XGLhHVuzDo/pubhtml



// ID of the Google Spreadsheet
//below is for quarterbacks
// var spreadsheetIDrb = "15mSJN1WKrxFVJtIYT20sJS9mGr7f65Ow1XGLhHVuzDo";
//
// // Make sure it is public or set to Anyone with link can view
// var urlrb = "https://spreadsheets.google.com/feeds/list/" + spreadsheetIDrb + "/od6/public/values?alt=json";
//
//   $.getJSON(urlrb, function(datarb) {
//
//   var entryrb = data.feed.entry;
//
//   $(entryrb).each(function(){
//
//     $('.results').prepend('<h2>'+this.gsx$name.$t+'</h2><p>'+this.gsx$age.$t+'</p>');
//   });
// });
//
//
//
//
// // above is for rb
// // ==========
// // below is for wr
//
// // WR = https://docs.google.com/spreadsheets/d/1gNVt-L_tVtvNSvoZpmocD91q7JShDjC370JqXo4E6Ko/pubhtml
//
// // ID of the Google Spreadsheet
// var spreadsheetIDwr = "1gNVt-L_tVtvNSvoZpmocD91q7JShDjC370JqXo4E6Ko";
//
// // Make sure it is public or set to Anyone with link can view
// var urlwr = "https://spreadsheets.google.com/feeds/list/" + spreadsheetIDwr + "/od6/public/values?alt=json";
//
//   $.getJSON(urlwr, function(data) {
//
//   var entrywr = data.feed.entry;
//
//   $(entrywr).each(function(){
//
//     // Column names are name, age, etc.
//     $('.results').prepend('<h2>'+this.gsx$name.$t+'</h2><p>'+this.gsx$age.$t+'</p>');
//   });
// });
//
//
//
//
//
// // above is for wr
// //============
// // below is for te
// // TE = https://docs.google.com/spreadsheets/d/1UjVGzANuKJ-_ERg8f4ixjPW6AVL9bjCcIhyq4YK-Z0k/pubhtml
//
// // ID of the Google Spreadsheet
// var spreadsheetIDte = "1UjVGzANuKJ-_ERg8f4ixjPW6AVL9bjCcIhyq4YK-Z0k";
//
// // Make sure it is public or set to Anyone with link can view
// var urlte = "https://spreadsheets.google.com/feeds/list/" + spreadsheetIDte + "/od6/public/values?alt=json";
//
//   $.getJSON(urlte, function(data) {
//
//   var entryte = data.feed.entry;
//
//   $(entryte).each(function(){
//
//     $('.results').prepend('<h2>'+this.gsx$name.$t+'</h2><p>'+this.gsx$age.$t+'</p>');
//   });
// });
//
//
//
//
//
// // above is for te
// // ===========
// // below is for k
// // K = https://docs.google.com/spreadsheets/d/1RWrzWmrAZqyLlmpqNnA8kKRk9fjFN3japYiAtztRWKs/pubhtml
//
// // ID of the Google Spreadsheet
// var spreadsheetIDk = "1RWrzWmrAZqyLlmpqNnA8kKRk9fjFN3japYiAtztRWKs";
//
// // Make sure it is public or set to Anyone with link can view
// var urlk = "https://spreadsheets.google.com/feeds/list/" + spreadsheetIDk + "/od6/public/values?alt=json";
//
//   $.getJSON(urlk, function(data) {
//
//   var entryk = data.feed.entry;
//
//   $(entryk).each(function(){
//
//     $('.results').prepend('<h2>'+this.gsx$name.$t+'</h2><p>'+this.gsx$age.$t+'</p>');
//   });
// });
//
//
//
//
// // above is for k
// // ===========
// // below is for def
// // Def = https://docs.google.com/spreadsheets/d/1B63c8kUsBMC3nHhIq2vErR-55b-SgiTlhGSYIA-G2X4/pubhtml
//
// // ID of the Google Spreadsheet
// var spreadsheetIDdef = "1B63c8kUsBMC3nHhIq2vErR-55b-SgiTlhGSYIA-G2X4";
//
// // Make sure it is public or set to Anyone with link can view
// var urldef = "https://spreadsheets.google.com/feeds/list/" + spreadsheetIDdef + "/od6/public/values?alt=json";
//
//   $.getJSON(urldef, function(data) {
//
//   var entrydef = data.feed.entry;
//
//   $(entrydef).each(function(){
//
//     $('.results').prepend('<h2>'+this.gsx$name.$t+'</h2><p>'+this.gsx$age.$t+'</p>');
//   });
// });
// above is for def
// =========
// below is for teams

// var colNameWeek = this.gsx$week.$t;
// var colNameplayer = this.gsx$player.$t;
// var colNamesal = this.gsx$sal.$t;
// var colNamepos = this.gsx$pos.$t;
// var colNameteam = this.gsx$team.$t;
// var colNameteam_name = this.gsx$team_name.$t;
// var colNameid = this.gsx$id.$t;
// var colNameinjury_status = this.gsx$injury_status.$t;
// var colNametype_injury = this.gsx$type_injury.$t;
// var colNamervp = this.gsx$rvp.$t;
// var colNamepr = this.gsx$pr.$t;
// var colNameid = this.gsx$id.$t;
// var colNameopp_def_rank = this.gsx$opp_def_rank.$t;
// var colNamefppg = this.gsx$fppg.$t;
// var colNameid = this.gsx$id.$t;
// var colNamepassattempt_game = this.gsx$passattempt_game.$t;
// var colNamerushatt_game = this.gsx$rushatt_game.$t;
// var colNametotalopp = this.gsx$totalopp.$t;
// var colNameppa = this.gsx$ppa.$t;
// var colNamedova = this.gsx$dova.$t;
// var colNameexpected_wins = this.gsx$expected_wins.$t;
// var colNamepath_expectation = this.gsx$path_expectation.$t;
// var colNameO_U = this.gsx$O_U.$t;
// var colNameML = this.gsx$ML.$t;
// var colNameSL = this.gsx$SL.$t;
// var colNameEnding_ML = this.gsx$Ending_ML.$t;
// var colNameLine_Change = this.gsx$Line_Change.$t;
// var colNameSal_Change = this.gsx$Sal_Change.$t;
// var colNameOL_RANK = this.gsx$OL_RANK.$t;
// var colNamePrating = this.gsx$Prating.$t;
// var colNameCriteriaScore = this.gsx$CriteriaScore.$t;
// var colNameCritRank = this.gsx$CritRank.$t;
// var colNameFPS = this.gsx$FPS.$t;

</script>
