
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>WeAreFantasy</title>

  <!-- <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script> -->


      <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="/assets/css/style.css">

  <style media="screen">

  td {
    border: 1px solid black;
    background-color:white;
  }
  .pull-left {
    float:left!important;
  }
  .dataTables_paginate {
    float: left !important;
  }

  td.highlight {
          font-weight: bold;
          color: blue;
      }
  </style>

</head>
<body>

  <div class="container-fluid NFLTeamTable">
    <div class="row">
      <div style='font-size:24px;' class="col-md-8">
        <p>This will be dummy data unitl i figre out what to put here</p>
        <p>This will be dummy data unitl i figre out what to put here</p>
        <p>This will be dummy data unitl i figre out what to put here</p>
        <p>This will be dummy data unitl i figre out what to put here</p>
        <p>This will be dummy data unitl i figre out what to put here</p>
        <p>This will be dummy data unitl i figre out what to put here</p>
        <p>This will be dummy data unitl i figre out what to put here</p>
      </div>
      <div style='font-size:24px;' class="col-md-4">
        <h2>My Suggested Fanduel NBA Players</h2>
        <ul class='suggestedPlayersNBA'>

        </ul>
      </div>
    </div>
  </div>

  <div id='playerlist' class="container-fluid NFLtables">
    <div class="row nbafantasy">
      <div class="col-md-12">
        <div class="panel-body beforeResponsive">
          <div class="table-responsive">
            <table class="table table-hover tableNbaFantasy secondtablenbafantasy">
              <thead>
                <tr style='font-size: 16px;'>
                  <th>Player</th>
                  <th>H/A</th>
                  <th>Position</th>
                  <th>Team</th>
                  <th>Opp</th>
                  <th>Condition</th>
                  <th>Details</th>
                  <th>POSID</th>
                  <th>AvgMins/L10</th>
                  <th>ProjMins</th>
                  <th>Salary</th>
                  <th>Useage%</th>
                  <th>PPG/L10</th>
                  <th>PPM</th>
                  <th>OVP</th>
                  <th>ProjTeamScore</th>
                  <th>GameLine</th>
                  <th>ProjectedPts</th>
                  <th>Value18</th>
                  <th>Ownership%</th>
                  <th>ExpectedValue</th>
                  <th>NetValue</th>
                  <th>GamesPlayed</th>
                  <th>RecentPerformance</th>
                  <th>Score</th>
                  <th>PTsVPos</th>
                  <th>Use/Fade</th>
                  <th>CriteriaRank</th>
                </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
