<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>WeAreFantasy</title>
      <!-- Latest compiled and minified CSS -->
</head>
<body>
  <div class="container-fluid NFLTeamTable">
    <div class="row">
      <div style='font-size:24px;' class="col-md-7">
        <h2>What will go here is:</h2>
        <button class='nbaposition' type="button" data-position='All' name="button">All</button>
        <button class='nbaposition' type="button" data-position='PG' name="button">PG</button>
        <button class='nbaposition' type="button" data-position='SG' name="button">SG</button>
        <button class='nbaposition' type="button" data-position='SF' name="button">SF</button>
        <button class='nbaposition' type="button" data-position='PF' name="button">PF</button>
        <button class='nbaposition' type="button" data-position='C' name="button">C</button>
      </div>
    </div>
  </div>
  <div id='playerlist' class="container-fluid NFLtables">
    <div class="row nbafantasy">
      <div class="col-md-12">
        <div class="panel-body beforeResponsive">
          <div class="table-responsive">
            <!-- put images here -->
            <table class="table table-striped table-hover tableNbaFantasy" cellpadding="0" cellspacing="0" border="0" width="100%">
              <thead>
                <tr style='font-size: 16px;'>
                  <th>Player</th>
                  <th>H/A</th>
                  <th>Position</th>
                  <th>Team</th>
                  <th>Opp</th>
                  <th>Condition<a href="#" data-toggle="tooltip" data-placement="top" title="Injury status"><span class="infoicon glyphicon glyphicon-info-sign"></span></a></th>
                  <th>Details<a href="#" data-toggle="tooltip" data-placement="top" title="Details of injury"><span class="infoicon glyphicon glyphicon-info-sign"></span></a></th>
                  <th>ProjMins<a href="#" data-toggle="tooltip" data-placement="top" title="How many minutes a player is projected to play"><span class="infoicon glyphicon glyphicon-info-sign"></span></a></th>
                  <th>Salary</th>
                  <th>Useage%<a href="#" data-toggle="tooltip" data-placement="top" title="How long a player has control of the ball per possession"><span class="infoicon glyphicon glyphicon-info-sign"></span></a></th>
                  <th>PPG/L10<a href="#" data-toggle="tooltip" data-placement="top" title="Average fantasy points per game for the last 10 games"><span class="infoicon glyphicon glyphicon-info-sign"></span></a></th>
                  <th>PPM<a href="#" data-toggle="tooltip" data-placement="top" title="How many fantasy points a player gets per minute"><span class="infoicon glyphicon glyphicon-info-sign"></span></a></th>
                  <th>OVP<a href="#" data-toggle="tooltip" data-placement="top" title="How well the opponent defends that specific position"><span class="infoicon glyphicon glyphicon-info-sign"></span></a></th>
                  <th>ProjTeamScore<a href="#" data-toggle="tooltip" data-placement="top" title="Teams projected score"><span class="infoicon glyphicon glyphicon-info-sign"></span></a></th>
                  <th>GameLine<a href="#" data-toggle="tooltip" data-placement="top" title="Total team points"><span class="infoicon glyphicon glyphicon-info-sign"></span></a></th>
                  <th>ProjectedPts<a href="#" data-toggle="tooltip" data-placement="top" title="Projected points of a specific player"><span class="infoicon glyphicon glyphicon-info-sign"></span></a></th>
                  <th>Value<a href="#" data-toggle="tooltip" data-placement="top" title="Projected value of a specific player based on projections"><span class="infoicon glyphicon glyphicon-info-sign"></span></a></th>
                  <th>SalaryAdjust<a href="#" data-toggle="tooltip" data-placement="top" title="Their last game salary compared to their current salary (Anything 400 and below is in the clear. Above 400 is a red flag. - is equivalent to a 0 which is great)"><span class="infoicon glyphicon glyphicon-info-sign"></span></a></th>
                  <th>RecentPerformance<a href="#" data-toggle="tooltip" data-placement="top" title="TTheir last game compared to their average (Anything 10 and below is in the clear. Above 10 is a red flag. - is equivalent to a 0 which is great)"><span class="infoicon glyphicon glyphicon-info-sign"></span></a></th>
                  <th>PTsVPos<a href="#" data-toggle="tooltip" data-placement="top" title="How many points the opponent gives up against a specific position"><span class="infoicon glyphicon glyphicon-info-sign"></span></a></th>
                  <th>CriteriaRanking<a href="#" data-toggle="tooltip" data-placement="top" title="My rankings for players. 7-6 is the best. 5 is ok. Everybody below be catious"><span class="infoicon glyphicon glyphicon-info-sign"></span></a></th>
                  <th>ProjectedOwnership<a href="#" data-toggle="tooltip" data-placement="top" title="My projected ownership for players"><span class="infoicon glyphicon glyphicon-info-sign"></span></a></th>
                </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="suggestedbuttondiv">
      <div class="suggesteddiv">
          <button style='text-align:center;' type="button" class="btn btn-default suggestedbutton">My Suggested Players</button>
      </div>
  </div>
  <div class="suggesteddivshow">
      <div id="sizer">
          <a class='closesuggested' href="#">x</a>
      </div>
      <h4 class='suggestedPlayersh4'>My Suggested Fanduel NBA Players</h4>
      <div class="suggestedDivScroll">
        <ul class='suggestedPlayersNBA'></ul>
      </div>

      <br>
  </div>
  <!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Description of each column</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div style='background-color:lightgreen; height:140px;' class="col-md-2">
            <p>Good to go</p>
          </div>
          <div style='background-color:yellow; height:140px;' class="col-md-2">
            <p>Be Aware</p>
          </div>
          <div style='background-color:#FFBD00; height:140px;' class="col-md-3">
            <p>Be Cautious (I would be weary. Check other categories)</p>
          </div>
          <div style='background-color:#FF8700; height:140px;' class="col-md-3">
            <p>Stay Away (Really depends on other categories)</p>
          </div>
          <div style='background-color:red; height:140px;' class="col-md-2">
            <p>Red Flag(Every other category must be perfect for me to use)</p>
          </div>
          <br>
        </div>
        <br>
        <hr>
        <div class="row">
          <div class="col-md-3">
            <p>ProjMins</p>
          </div>
          <div class="col-md-9">
            <p>ProjMins: How many minutes a player is projected to play</p>
          </div>
        </div>
        <br>
        <hr>
        <div class="row">
          <div class="col-md-3">
            <p>Useage%</p>
          </div>
          <div class="col-md-9">
            <p>Useage%: How long a player has control of the ball per possession (Anything above 30% (varies based on position) is in the clear. It is ok to go lower if other categories are good)</p>
          </div>
        </div>
        <br>
        <hr>
        <div class="row">
          <div class="col-md-3">
            <p>PPG/L10</p>
          </div>
          <div class="col-md-9">
            <p>PPG/L10: Average fantasy points per game for the last 10 games</p>
          </div>
        </div>
        <br>
        <hr>
        <div class="row">
          <div class="col-md-3">
            <p>PPM(Points per Minute)</p>
          </div>
          <div class="col-md-9">
            <p>PPM(Points per Minute): How many fantasy points a player gets per minute (Anything above 1.2 is in the clear. It is ok to go lower if other categories are good)</p>
          </div>
        </div>
        <br>
        <hr>
        <div class="row">
          <div class="col-md-3">
            <p>OVP(Offense Vs Position)</p>
          </div>
          <div class="col-md-9">
            <p>OVP(Offense Vs Position): How well the opponent defends that specific position (Anything above 1.0 is in the clear. It is ok to go lower if other categories are good)</p>
          </div>
        </div>
        <br>
        <hr>
        <div class="row">
          <div class="col-md-3">
            <p>ProjTeamScore</p>
          </div>
          <div class="col-md-9">
            <p>ProjTeamScore: Projection of the Total team points</p>
          </div>
        </div>
        <br>
        <hr>
        <div class="row">
          <div class="col-md-3">
            <p>GameLine</p>
          </div>
          <div class="col-md-9">
            <p>GameLine: Projection of the Total game points</p>
          </div>
        </div>
        <br>
        <hr>
        <div class="row">
          <div class="col-md-3">
            <p>ProjectedPts</p>
          </div>
          <div class="col-md-9">
            <p>ProjectedPts: My Projection of points a specific player will score.</p>
          </div>
        </div>
        <br>
        <hr>
        <div class="row">
          <div class="col-md-3">
            <p>Value</p>
          </div>
          <div class="col-md-9">
            <p>Value: Projected value of a specific player based on projections (Try to stay above 5.0 but it is ok to go below if other categories are good)</p>
          </div>
        </div>
        <br>
        <hr>
        <div class="row">
          <div class="col-md-3">
            <p>SalaryAdjust</p>
          </div>
          <div class="col-md-9">
            <p>SalaryAdjust: Their last game salary compared to their current salary (Anything 400 and below is in the clear. Above 400 is a red flag. - is equivalent to a 0 which is great)</p>
          </div>
        </div>
        <br>
        <hr>
        <div class="row">
          <div class="col-md-3">
            <p>RecentPerformance</p>
          </div>
          <div class="col-md-9">
            <p>RecentPerformance: Their last game compared to their average (Anything 10 and below is in the clear. Above 10 is a red flag. - is equivalent to a 0 which is great)</p>
          </div>
        </div>
        <br>
        <hr>
        <div class="row">
          <div class="col-md-3">
            <p>PtsVPos(Points vs Position)</p>
          </div>
          <div class="col-md-9">
            <p>PtsVPos(Points vs Position): Points allowed by the defensive position</p>
          </div>
        </div>
        <br>
        <hr>
        <div class="row">
          <div class="col-md-3">
            <p>CriteriaRanking</p>
          </div>
          <div class="col-md-9">
            <p>CriteriaRanking: The rank I rank players. 7-6 and 5 are good to go but anything below 5 is a red flag</p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
<!-- End Modal -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-86407503-2', 'auto');
  ga('send', 'pageview');
</script>
<script type="text/javascript">
$('.suggesteddivshow').hide();
$('.suggestedbutton').on('click', function() {
    $('.suggesteddiv').hide();
    $('.suggesteddivshow').show();
});
$('.closesuggested').on('click', function() {
    $(".suggesteddivshow").hide();
    $('.suggesteddiv').show();
    return false;
});
  $(function () {
    $('[data-toggle="tooltip"]').tooltip({
      'selector': '',
      'placement': 'top',
      'container':'body'
    })
  });


</script>
