
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>WeAreFantasy</title>

  <!-- <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script> -->


      <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="/assets/css/style.css">

  <style media="screen">

  td {
    border: 1px solid black;
    background-color:white;
  }
  .pull-left {
    float:left!important;
  }
  .dataTables_paginate {
    float: left !important;
  }
  .highlight {
          font-weight: bold;
          color: blue;
      }
  td.highlight {
          font-weight: bold;
          color: blue;
      }
  </style>

</head>
<body>

  <div class="container-fluid NFLTeamTable">
    <div class="row">
      <div style='font-size:24px;' class="col-md-8">
        <p>Jets are solid pick Jets are solid pick Jets are solid pick</p>
        <p>Palmer will kill it Palmer will kill it Palmer will kill it </p>
        <p>Brady Repeat? Brady Repeat? Brady Repeat?</p>
        <p>Westbrook Trip dub alert? Westbrook Trip dub alert?</p>
        <p>KD a bitch? yes. KD a bitch? yes. KD a bitch? yes.</p>
        <p>Lebron a bitch? also yes. Lebron a bitch? also yes.</p>
      </div>
      <div style='font-size:24px;' class="col-md-4">
        <p>Jets are solid pick</p>
        <p>Palmer will kill it </p>
        <p>Brady Repeat?</p>
        <p>Westbrook Trip dub alert?</p>
        <p>KD a bitch? yes.</p>
        <p>Lebron a bitch? also yes.</p>
      </div>
    </div>
  </div>

  <div id='playerlist' class="container-fluid NFLtables">
    <div class="row nbafantasy">
      <div class="col-md-12">
        <div class="panel-body beforeResponsive">
          <div class="table-responsive">
            <table class="table table-hover tableNbaFantasy">
              <thead>
                <tr style='font-size: 16px;'>
                  <th>Player</th>
                  <th>H/A</th>
                  <th>Position</th>
                  <th>Team</th>
                  <th>Opp</th>
                  <th>Condition</th>
                  <th>Details</th>
                  <th>POSID</th>
                  <th>AvgMins/L10</th>
                  <th>ProjMins</th>
                  <th>Salary</th>
                  <th>Useage%</th>
                  <th>PPG/L10</th>
                  <th>PPM</th>
                  <th>OVP</th>
                  <th>GLAdjust</th>
                  <th>TotalAdjust</th>
                  <th>ProjScore</th>
                  <th>GameLine</th>
                  <th>ProjectedPts</th>
                  <th>Value</th>
                  <th>Ownership%</th>
                  <th>PathCompare</th>
                  <th>ExpectedValue</th>
                  <th>NetValue</th>
                  <th>GamesPlayed</th>
                  <th>SalaryAdjust</th>
                  <th>RecentPerformance</th>
                  <th>Score</th>
                  <th>PTsVPos</th>
                  <th>Use/Fade</th>
                </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  
