
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>WeAreFantasy</title>
  <!-- <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script> -->


      <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="/assets/css/style.css">

  <style media="screen">

  td {
    border: 1px solid black;
    background-color:white;
  }


  .highlight {
    font-weight: bold;
    color: blue;
  }
  td.highlight {
    font-weight: bold;
    color: blue;
  }

  .pull-left {
    float:left!important;
  }
  .dataTables_paginate {
    float: left !important;
  }
  </style>

</head>
<body>

  <div class="container-fluid NFLTeamTable">
    <div class="row">
      <div style='font-size:24px;' class="col-md-8">
        <p>Jets are solid pick Jets are solid pick Jets are solid pick</p>
        <p>Palmer will kill it Palmer will kill it Palmer will kill it </p>
        <p>Brady Repeat? Brady Repeat? Brady Repeat?</p>
        <p>Westbrook Trip dub alert? Westbrook Trip dub alert?</p>
        <p>KD a bitch? yes. KD a bitch? yes. KD a bitch? yes.</p>
        <p>Lebron a bitch? also yes. Lebron a bitch? also yes.</p>
      </div>
      <div style='font-size:24px;' class="col-md-4">
        <p>Jets are solid pick</p>
        <p>Palmer will kill it </p>
        <p>Brady Repeat?</p>
        <p>Westbrook Trip dub alert?</p>
        <p>KD a bitch? yes.</p>
        <p>Lebron a bitch? also yes.</p>
      </div>
    </div>
  </div>

  <div id='playerlist' class="container-fluid NFLtables">
    <div class="row list">
      <div class="col-md-2">
        <li><a id='qbLink' href="#">Quarter Back</a></li>
      </div>
      <div class="col-md-2">
        <li><a id='rbLink' href="#">Running Back</a></li>
      </div>
      <div class="col-md-2">
        <li><a id='wrLink' href="#">Wide Receiver</a></li>
      </div>
      <div class="col-md-2">
        <li><a id='teLink' href="#">Tight End</a></li>
      </div>
      <div class="col-md-2">
        <li><a id='kLink' href="#">Kicker</a></li>
      </div>
      <div class="col-md-2">
        <li><a id='defLink' href='#'>Defense</a></li>
      </div>
    </div>
    <div class="row qbfantasy">
      <div class="col-md-12">
        <div class="panel-body beforeResponsive">
          <div class="table-responsive">
            <table class="table table-hover fantasyQB">
              <thead>
                <tr style='font-size: 16px;'>
                  <th> Week	 </th>
                  <th> Player	 </th>
                  <th> Sal	 </th>
                  <th> POS	 </th>
                  <th> Team	 </th>
                  <th> Team_Name	 </th>
                  <th> ID	 </th>
                  <th> Injury_Status	 </th>
                  <th> Type_Injury	 </th>
                  <th> RvP	 </th>
                  <th> PlayerRank	 </th>
                  <th> OPP_DEF_RANK	 </th>
                  <th> FPPG	 </th>
                  <th> PassAttempt_Game	 </th>
                  <th> RUSHAtt_Game	 </th>
                  <th> TotalOpp	 </th>
                  <th> PPA	 </th>
                  <th> DOVA	 </th>
                  <th> Expected_Wins	 </th>
                  <th> Path_Expectation	 </th>
                  <th> O_U	 </th>
                  <th> ML	 </th>
                  <th> SL	 </th>
                  <th> Ending_ML	 </th>
                  <th> Line_Change	 </th>
                  <th> Sal_Change	 </th>
                  <th> OLScore	 </th>
                  <th> PlayerRating	 </th>
                  <th> CriteriaScore	 </th>
                  <th> CritRank	 </th>
                  <th> RecPre	 </th>
                  <th> FPS </th>
                </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="row rbfantasy">
      <div class="col-md-12">
        <div class="panel-body beforeResponsive">
          <div class="table-responsive">
            <table class="table table table-hover fantasyRB">
              <thead>
                <tr style='font-size: 16px;'>
                  <th>Week</th>
                  <th>Player</th>
                  <th>Sal</th>
                  <th>POS</th>
                  <th>Team</th>
                  <th>Team_Name</th>
                  <th>ID</th>
                  <th>Injury_Status</th>
                  <th>Type_Injury</th>
                  <th>Spread</th>
                  <th>RVP</th>
                  <th>PlayerRAnk</th>
                  <th>PPG</th>
                  <th>RUSHAtt_Game</th>
                  <th>Rec_Targ</th>
                  <th>TotalOpp</th>
                  <th>PPA</th>
                  <th>R_DOVA</th>
                  <th>Expected_Wins</th>
                  <th>Path_Expectation</th>
                  <th>O_U</th>
                  <th>ML</th>
                  <th>SL</th>
                  <th>Ending_ML</th>
                  <th>Line_Change</th>
                  <th>Sal_Change</th>
                  <th>Snap_Count</th>
                  <th>OL_RANK</th>
                  <th>RecPre</th>
                  <th>PlayerRating</th>
                  <th>CriteriaScore</th>
                  <th>CritRank</th>
                  <th>FPS</th>
                </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="row wrfantasy">
      <div class="col-md-12">
        <div class="panel-body beforeResponsive">
          <div class="table-responsive">
            <table class="table table table-hover fantasyWR">
              <thead>
                <tr style='font-size: 16px;'>
                  <th>Week</th>
                  <th>Player</th>
                  <th>Sal</th>
                  <th>POS</th>
                  <th>Team</th>
                  <th>Team_Name</th>
                  <th>ID</th>
                  <th>Injury_Status</th>
                  <th>Type_Injury</th>
                  <th>Spread</th>
                  <th>QB_Score</th>
                  <th>RvP</th>
                  <th>PlayerRank</th>
                  <th>PPG</th>
                  <th>RUSHAtt_Game</th>
                  <th>Rec_Targ</th>
                  <th>Recs</th>
                  <th>Total_Opp</th>
                  <th>PPA</th>
                  <th>P_DOVA</th>
                  <th>Expected_Wins</th>
                  <th>Path_Expectation</th>
                  <th>O_U</th>
                  <th>ML</th>
                  <th>SL</th>
                  <th>Ending_ML</th>
                  <th>Line_Change</th>
                  <th>Sal_Change</th>
                  <th>Snap_Count</th>
                  <th>RecPre</th>
                  <th>PlayerRating</th>
                  <th>CriteriaScore</th>
                  <th>CritRank</th>
                  <th>FPS</th>
                </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="row tefantasy">
      <div class="col-md-12">
        <div class="panel-body beforeResponsive">
          <div class="table-responsive">
            <table class="table table table-hover fantasyTE">
              <thead>

                <tr style='font-size: 16px;'>
                  <th>Week</th>
                  <th>Player</th>
                  <th>Sal</th>
                  <th>POS</th>
                  <th>Team</th>
                  <th>Team_Name</th>
                  <th>ID</th>
                  <th>Injury_Status</th>
                  <th>Type_Injury</th>
                  <th>Spread</th>
                  <th>QB_Score</th>
                  <th>RvP</th>
                  <th>PlayerRank</th>
                  <th>PPG</th>
                  <th>RUSHAtt_Game</th>
                  <th>Rec_Targ</th>
                  <th>Recs</th>
                  <th>Total_Opp</th>
                  <th>PPA</th>
                  <th>P_DOVA</th>
                  <th>Expected_Wins</th>
                  <th>Path_Expectation</th>
                  <th>O_U</th>
                  <th>ML</th>
                  <th>SL</th>
                  <th>Ending_ML</th>
                  <th>Line_Change</th>
                  <th>Sal_Change</th>
                  <th>Snap_Count</th>
                  <th>RecentPre</th>
                  <th>PlayerRating</th>
                  <th>CriteriaScore</th>
                  <th>CritRank</th>
                  <th>FPS</th>
                </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="row kfantasy">
      <div class="col-md-12">
        <div class="panel-body beforeResponsive">
          <div class="table-responsive">
            <table class="table table table-hover fantasyK">
              <thead>
                <tr style='font-size: 16px;'>
                  <th>Week</th>
                  <th>Player</th>
                  <th>Sal</th>
                  <th>POS</th>
                  <th>Team</th>
                  <th>Team_Name</th>
                  <th>Injury_Status</th>
                  <th>Type_Injury</th>
                  <th>RvP</th>
                  <th>PlayerRank</th>
                  <th>PPG</th>
                  <th>Total_Opp</th>
                  <th>PPK</th>
                  <th>Expected_Wins</th>
                  <th>Path_Expectation</th>
                  <th>O_U</th>
                  <th>ML</th>
                  <th>SL</th>
                  <th>Ending_ML</th>
                  <th>Line_Change</th>
                  <th>Sal_Change</th>
                  <th>RecPRe</th>
                  <th>TD_Con</th>
                  <th>PlayerRating</th>
                  <th>CriteriaScore</th>
                  <th>CritRank</th>
                  <th>FPS</th>
                </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="row deffantasy">
      <div class="col-md-12">
        <div class="panel-body beforeResponsive">
          <div class="table-responsive">
            <table class="table table table-hover fantasyDEF">
              <thead>
                <tr style='font-size: 16px;'>
                  <th>Week</th>
                  <th>Player</th>
                  <th>Sal</th>
                  <th>POS</th>
                  <th>Team</th>
                  <th>Team_Name</th>
                  <th>Opp</th>
                  <th>PPG</th>
                  <th>OPP_QB_Injury_Status</th>
                  <th>Type_Injury</th>
                  <th>Opp</th>-QB-Score
                  <th>RvP</th>
                  <th>PlayerRank</th>
                  <th>Yards_Allowed</th>
                  <th>DEF_DOVA</th>
                  <th>Opp_O_DOVA</th>
                  <th>CombinedDOVA</th>
                  <th>Expected_Wins</th>
                  <th>Path_Expectation</th>
                  <th>O_U</th>
                  <th>ML</th>
                  <th>SL</th>
                  <th>Ending_ML</th>
                  <th>Line_Change</th>
                  <th>Sal_Change</th>
                  <th>PlayerRating</th>
                  <th>CriteriaScore</th>
                  <th>CritRank</th>
                  <th>RecP</th>	
                  <th>FPS</th>
                </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- DataTables warning: Non-table node initialisation (DIV). For more information about this error, please see http://datatables.net/tn/2 -->
