body,html{
    height: 100%;
    background-color: #f0fcff;
  }
  #chatmessages{
      overflow:auto;
      background-color: #021A3A;
      height:300px;
  }


  .player1{
      color: #edb82a;
  }

  .playerfalse {
      color:pink;
  }

  .player0{
      background-color: lightgrey;
      color:#edb82a;
  }
  .chatdiv {
      bottom: 0;
      position: fixed;
      right:10%;
  }

  .chatdivshow {
      right:10%;
      overflow:auto;
      background-color: #021A3A;
      width:250px;
      position: fixed;
      bottom: 0px;
  }

  .closechat {
      margin-left: 90%;
      font-size: 18px;
      background-color: #021A3A;
      border-color: none;
  }
  .stickbutton {
      text-align: center;
}
