body,html{
  height: 100%;
  background-color: #f0fcff;
}
#chatmessages{
  overflow:auto;
  background-color: #021A3A;
  height:300px;
  margin-left: 5%;
}
.player1{
  color: #edb82a;
}

.suggestedPlayersNBA {
  height: 300px;
  overflow-x: scroll;
  overflow-y: scroll;
  background-color:white;
  border-radius: 5%;
}

.playerfalse {
  color:#edb82a;
}
.player0{
  background-color: lightgrey;
  color:#edb82a;
}
.chatdiv {
  bottom: 0;
  position: fixed;
  right:5%;
}
.chatdivshow {
  right:5%;
  overflow:auto;
  background-color: #021A3A;
  width:250px;
  position: fixed;
  bottom: 0px;
}
  #chatbar {
    margin-left: 5%;
    margin-bottom:5%;
  }

  #chatinput {
    border-radius: 8px;
    height:35px;
  }
  #chatsend {
    border-radius:8px;
  }

  .chatbutton {
    /*background-color: #021A3A;
    color: #edb82a;*/
    background-color: #edb82a;
    color: #021A3A;
    font-size: 16px;
  }
.closechat {
    margin-left: 90%;
    font-size: 18px;
    background-color: #021A3A;
    color:white;
    border-color: none;
}
.stickbutton {
    text-align: center;
}
td {
  border: 1px solid black;
  background-color:white;
}
.pull-left {
  float:left!important;
}
.dataTables_paginate {
  float: left !important;
}

td.highlight {
  font-weight: bold;
  color: blue;
}
.infoicon {
  color:#021A3A;
}

.NFLtables {
  list-style: none;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}


div.tooltip-inner {
  max-width: 350px;
}


.nbaposition {
background-color:#021A3A;
color:white;
}
.highlight {
background-color:#edb82a;
color:black;
}
/*========*/

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc {
    background: none;
}
.navlist {
    list-style: none;
}
