<head>
  <style media="screen">
  .sportfantasynews {
    overflow:auto;
    background-color: #FFFCF7;
    height:500px;
  }

  </style>
</head>
<br>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <button class='shownba' type="button" name="button">NBA</button>
      <button class='shownfl' type="button" name="button">NFL</button>
      <div class="sportfantasynews">
        <div class="nbafantasynews">
          {{#each fantasynewsNBA}}
            <h3>{{{this.fantasynews}}}</h3>
            <p>{{{this.fantasyinfo}}}</p>
          {{/each}}
        </div>
        <div class="nflfantasynews">
          {{#each fantasynewsNFL}}
            <h3>{{{this.fantasynews}}}</h3>
            <p>{{{this.fantasyinfo}}}</p>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>


  <script type="text/javascript">
    $('.nflfantasynews').hide();
    $('.shownba').on('click', function(){
      $('.nflfantasynews').hide();
      $('.nbafantasynews').show();
    });
    $('.shownfl').on('click', function(){
      $('.nbafantasynews').hide();
      $('.nflfantasynews').show();
    });
  </script>
  <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
  <script src='/assets/javascript/chatapp.js'></script>
