<head>
  <style media="screen">
  .sportfantasynews {
    overflow:auto;
    background-color: #FFFCF7;
    height:575px;
  }
  .nbafantasynewsdum {
    overflow:auto;
    background-color: #FFFCF7;
    height:500px;
  }

  .nbaplayers {
    overflow:auto;
    background-color: #FFFCF7;
    height:500px;
  }


  </style>
</head>
<br>
<div class="container-fluid">
  <div class="row">
    <div class="sportfantasynewsdum">
      <div class="col-md-6">
        <button class='shownbaplayers' type="button" name="button">show nba players</button>
        <div class="nbaplayers">

        </div>
      </div>
      <div class="col-md-6">

      </div>
    </div>
  </div>
</div>
<!-- <div class="container-fluid">
  <div class="row">
    <div class="col-md-5">
      <button class='shownba' type="button" name="button">NBA</button>
      <button class='shownfl' type="button" name="button">NFL</button>
      <div class="sportfantasynews">
        <div class="nbafantasynews">
          {{#each fantasynewsNBA}}
            <h5>{{{this.fantasynews}}}</h5>
            <p>{{{this.fantasyinfo}}}</p>
            <hr>
          {{/each}}
        </div>
        <div class="nflfantasynews">
          {{#each fantasynewsNFL}}
            <h5>{{{this.fantasynews}}}</h5>
            <p>{{{this.fantasyinfo}}}</p>
            <hr>
          {{/each}}
        </div>
      </div>
    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-3">
      <div class="twitterfeed">
        <a class="twitter-timeline"  href="https://twitter.com/hashtag/NFL" data-widget-id="778252274892177408">#NFL Tweets</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div>
    </div>
  </div>
</div> -->


  <script type="text/javascript">
    $('.nflfantasynews').hide();
    $('.shownba').on('click', function(){
      $('.nflfantasynews').hide();
      $('.nbafantasynews').show();
    });
    $('.shownfl').on('click', function(){
      $('.nbafantasynews').hide();
      $('.nflfantasynews').show();
    });
  </script>
  <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
  <script src='/assets/javascript/chatapp.js'></script>
